.form-container{
    position: relative;
    max-width: 400px;
    height: 500px;
    left: auto;
    top: -9%;
    border-radius: 40px;
    background-color: #ffffff;
    box-shadow: 0px 14px 60px rgba(34, 35, 58, 0.445);
    transform: translate(3%, 9%);
    text-decoration: none;
}
.form-title {
    margin-top: 0px;
    border-radius: 40px 40px 0 0;
    height: 30px;
    padding: 15px;
    background-color: #305c73;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "Times New Roman", Times, serif;
}
.form{
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
}
.input-field {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.verPassword{
    border: none;
    cursor: pointer;
    width: 50%;
    padding: 10px;
}

.google-signin-button {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    background-color: #000000;
    color: #fff;
    margin-top: 10px;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 10%;
    margin-right: 10%;
  }

  .google-signin-button svg {
    width: 25px;
  }
  .inicio{
    color: white;
    background-color: #305c73;
    margin-left: 35%;
    margin-top: 10px;
    width: 120px;
    bottom: 35%;
    height: 40px;
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
}
.button{
    color: #d80000;
    text-decoration: none;
}
.button2{
    margin-left: 5px;
    color: #305c73;
    text-decoration: none;
}
.google-signin-button:hover {
    background-color: #4285F4; 
}
button:hover {
    background-color: #0186d3;
}
.verPassword{
    position: absolute;
    max-width: 30px;
    height: 30px;
    margin-top: -45px;
    margin-left: 89%;
    border-radius: 50px;
    background-color: #707070;
    color: white; 
}
.verPassword:hover{
    background-color: #ccc; 
}