.footer{
    background-color: #002c6f;
    color: #63615f;
    text-align: center;
    align-items: center;
    padding: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    box-shadow: 3px 2px 10px #292b2b;
}

.footer-content{
    align-items: center;
    max-width: 1500px;
    margin: 0;  
}