.auth-inn{
  position: relative;
  width: 174%;
  height: 420px;
  border-radius: 40px;
  background-color: #ffffff;
  transform: translate(-19%, -10%);
  box-shadow: 0px 14px 60px rgba(34, 35, 58, 0.445);
}

.auth-container {
  padding: 10px;
  width: 300px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  background-color: #fff;
  text-align: center;
}

.titleR {
  margin-top: 0;
  border-radius: 40px 40px 0 0;
  background-color: #305c73;
  font-size: 36px;
  height: 30px;
  padding: 15px;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.mb-3{
  max-width: 300px;
  padding-left: 40px;
}

.d-grid{
  max-width: 200px;
  padding-left: 100px;
  padding-top: 20px;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
}

.btn-primary {
  width: 110%;
  padding: 11px;
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.forgot-password {
  text-align: right;
  margin-top: 10px;
}

p {
  color: red;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.auth-wrapper {
 width: 100%;
 height: 100%;
}

.auth-wrappers {
 display: flex;
 justify-content: center;
 flex-direction: column;
 text-align: left;
}

.auth-inners {
 width: 450px;
 margin: auto;
 background-color: #191336;
 box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.445);
 padding: 40px 55px 45px 55px;
 border-radius: 15px;
 transition: all 0.3s;
}
  
.auth-wrappers .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
  
  .auth-wrappers h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
  }
  
.custom-control-label {
   left: 5px;
  font-weight: 400;
}
  
.forgot-password,
.forgot-password a {
  position: absolute;
  padding-top: 20px;
  margin-left: 40px;
  font-size: 18px;
  color: #000000;
  margin: 0;
}
  
.forgot-password a {
  left: 170px;
  top: 0;
  color: #167bff;
  text-decoration: none;
}

@media only screen and (max-width: 2200px) {
  .auth-inner {
    width: 450px;
    margin: auto;
    margin-top: 40%;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all 0.3s;
  }
}
  
/* En tu archivo de estilos CSS (formlogin.css) o en un archivo separado */
.password-toggle-button {
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 37%; /* Ajusta la posición según tu diseño */
  top: 48%; /* Ajusta la posición según tu diseño */
  transform: translateY(-50%); /* Centra verticalmente */
}
  
.password-toggle-icon {
  color: #fdfdfd; /* Cambia el color del icono según tu diseño */
}
  